.footer .columns .content {
  border-right: none!important;
}

.footer .column.first {
  width: 24%;
}

.footer .column.second {
  left: 24%;
}

.footer .column.third {
  left: 44%;
  width: 30%;
}

.columns .column.fourth {
  left: 78%;
  width: 21%;
}

.footer .contact-icon.phone {
  top: 2px;
  left: 1px;
  width: 13px;
  height: 18px;
  background-image: url(images/main_sprite.png);
  background-position: -836px -804px;
}

.footer .contact-icon.viber {
  width: 16px;
  height: 18px;
  background-image: url(images/main_sprite.png);
  background-position: -832px -756px;
}

.footer .contact-icon.whatsup {
  width: 18px;
  height: 18px;
  background-image: url(images/main_sprite.png);
  background-position: -833px -780px;
}

.footer .contact-icon.telegram {
  width: 18px;
  height: 16px;
  background-image: url(images/main_sprite.png);
  background-position: -830px -732px;
}

.footer .contact-icon.address {
  width: 20px;
  height: 14px;
  background-image: url(images/main_sprite.png);
  background-position: -832px -710px;
}

.footer .social {
  white-space: normal;
}

.footer .social .social__icon.am, 
.footer .social .social__icon:active.am, 
.footer .social .social__icon:hover.am,
.footer .social .social__icon.eb, 
.footer .social .social__icon:active.eb, 
.footer .social .social__icon:hover.eb,
.footer .social .social__icon.in, 
.footer .social .social__icon:active.in, 
.footer .social .social__icon:hover.in,
.footer .social .social__icon.ln, 
.footer .social .social__icon:active.ln, 
.footer .social .social__icon:hover.ln,
.footer .social .social__icon.ok, 
.footer .social .social__icon:active.ok, 
.footer .social .social__icon:hover.ok,
.footer .social .social__icon.pt, 
.footer .social .social__icon:active.pt, 
.footer .social .social__icon:hover.pt,
.footer .social .social__icon.tg, 
.footer .social .social__icon:active.tg, 
.footer .social .social__icon:hover.tg,
.footer .social .social__icon.yt, 
.footer .social .social__icon:active.yt, 
.footer .social .social__icon:hover.yt,
.footer .social .social__icon.tm, 
.footer .social .social__icon:active.tm, 
.footer .social .social__icon:hover.tm,
.footer .social .social__icon.xg, 
.footer .social .social__icon:active.xg, 
.footer .social .social__icon:hover.xg,
.footer .social .social__icon.rd, 
.footer .social .social__icon:active.rd, 
.footer .social .social__icon:hover.rd {
  width: 36px;
  height: 35px;
  background-image: url(images/main_sprite.png);
}

.footer .social .social__icon.am {
  background-position: -560px -827px;
}

.footer .social .social__icon:active.am,
.footer .social .social__icon:hover.am {
  background-position: -560px -866px;
}

.footer .social .social__icon.eb {
  background-position: -601px -827px;
}

.footer .social .social__icon:active.eb,
.footer .social .social__icon:hover.eb {
  background-position: -601px -866px;
}

.footer .social .social__icon.in {
  background-position: -643px -827px;
}

.footer .social .social__icon:active.in,
.footer .social .social__icon:hover.in {
  background-position: -644px -867px;
}

.footer .social .social__icon.ln {
  background-position: -685px -827px;
}

.footer .social .social__icon:active.ln,
.footer .social .social__icon:hover.ln {
  background-position: -686px -866px;
}

.footer .social .social__icon.ok {
  background-position: -725px -827px;
}

.footer .social .social__icon:active.ok,
.footer .social .social__icon:hover.ok {
  background-position: -725px -866px;
}

.footer .social .social__icon.pt {
  background-position: -765px -827px;
}

.footer .social .social__icon:active.pt,
.footer .social .social__icon:hover.pt {
  background-position: -765px -866px;
}

.footer .social .social__icon.tg {
  background-position: -805px -827px;
}

.footer .social .social__icon:active.tg,
.footer .social .social__icon:hover.tg {
  background-position: -806px -866px;
}

.footer .social .social__icon.yt {
  background-position: -845px -837px;
}

.footer .social .social__icon:active.yt,
.footer .social .social__icon:hover.yt {
  background-position: -845px -874px;
}

.footer .social .social__icon.tm {
  background-position: -561px -909px;
}

.footer .social .social__icon:active.tm,
.footer .social .social__icon:hover.tm {
  background-position: -603px -909px;
}

.footer .social .social__icon.xg {
  background-position: -733px -909px;
}

.footer .social .social__icon:active.xg,
.footer .social .social__icon:hover.xg {
  background-position: -775px -909px;
}

.footer .social .social__icon.rd {
  background-position: -647px -909px;
}

.footer .social .social__icon:active.rd,
.footer .social .social__icon:hover.rd {
  background-position: -690px -909px;
}


@media screen and (max-width: 1024px) {

  .footer .columns .content {
    border-right: none;
  }

  .footer .columns .column {
    width: 33%;
  }

  .footer .columns .column.fourth {
    position: absolute;
    left: 40%!important;
    bottom: 30%;
    width: 60%;
    margin-top: 0!important;
  }

}

@media screen and (max-width: 639px) {

  .footer .columns .column {
    width: 100%!important;
  }

  .footer .columns .column.fourth {
    position: static!important;
    width: 100%!important;
    margin-top: 30px!important;
    margin-bottom: 20px;
  }

}